<p id="notice"><%= notice %></p>

<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<h1>Tweets</h1>

<%= button_to "Fetch tweets from remote server", action: "fetch_remote_data", class: "btn btn-primary"%>
<br>

<table class="table">
  <thead>

    <tr>
      <th>ID</th>
      <th>Followers</th>
      <th>Message</th>
      <th>Sentiment</th>
      <th>User Handle</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.followers %></td>
        <td><%= tweet.message %></td>
        <td><%= tweet.sentiment %></td>
        <td><%= tweet.user_handle %></td>
        <td><%= tweet.created_at %></td>
        <td><%= tweet.updated_at %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  Percentage of tweets including key workds: [ <%= Tweet::KEYWORDS.map(&:inspect).join(', ') %> ] : <%= @tweets_percentage_with_keywords %>%
</p>
